extends ../base.pug
block title
    | 新楓之谷 - 淫小築 - 成員列表

block style
    style(type='text/css').
        html, body {
            overflow-y: scroll;
            background: rgba(0, 0, 0, 0) url('/assets/images/members-bg.png') repeat scroll 0% 0%;
        }

    style(type='text/css').
        img {
            -webkit-user-select: none;
             -khtml-user-select: none;
               -moz-user-select: none;
                 -o-user-select: none;
                    user-select: none;
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .profile-card {
            width: 100%;
            min-width: 250px;
            max-width: 300px;
            margin: 40px 10px;
            text-align: center;
            overflow: hidden;
            background: rgba(0, 0, 0, 0) url('/assets/images/card-bg.png') repeat scroll 0% 0%
        }
        .profile-card .header {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: .5em 1em;
        }
        .profile-card .header .status {
            margin-right: auto;
        }
        .profile-card .content-1 {
            position: relative;
            width: 100%;
            height: 150px;
        }
        .profile-card .content-1 .avatar-picture {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0) url('/assets/class_bg/explorer.png') no-repeat;
            background-size: cover;
        }
        .profile-card .content-1 .avatar-picture img.avatar {
            width: 100px;
            height: 100px;
            margin-bottom: 5px;
            -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .9));
        }
        .profile-card .content-1 .talks {
            position: absolute;
            left: 55%;
            bottom: 105px;
            height: 1.5em;
            max-width: 35%;
            background: #FFF;
            padding: .25em .5em;
            border-radius: 5px;
            white-space: nowrap;
        }
        .profile-card .content-1 .talks .text {
            width: 100%;
            overflow: hidden;
        }
        .profile-card .content-1 .talks .arrow {
            position: absolute;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid #FFF;
        }
        .profile-card .content-1 .groups {
            position: absolute;
            width: 30px;
            height: 100%;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .75);
        }
        .profile-card .content-1 .groups img.group-icon {
            margin: .15em;
            border: 1px solid rgba(175, 175, 175, .75);
        }
        .content-2 {
            padding: .5em 1em;
        }
        .character-name {
            font-size: 1.25em;
            letter-spacing: .1em;
        }
        .character-joblevel {
            font-size: .95em;
        }
        .character-level {
            font-size: .85em;
            margin-left: .25em;
        }
        .profile-card .footer {
            display: flex;
            align-items: center;
            padding: .5em 1em;
        }
        .user-picture {
            border: 1px solid #FFF;
        }
        .user-name {
            margin-left: .5em;
        }
        .footer {
            text-align: center;
            padding: 2em 0 .5em 0;
        }
        .hidden {
            display: none;
        }

block content
    div.uk-container
        nav.uk-navbar-container(uk-sticky='bottom: #offset', uk-navbar)
            div.uk-navbar-left
                div.uk-navbar-item
                    div.uk-search.uk-search-navbar.uk-width-1-1
                        span(uk-search-icon)
                        input#search.uk-search-input(type='search', placeholder='查 ID 或 LINE', autocomplete='off', oninput='filtering(this)')
        div.cards
            each member in members
                div.profile-card
                    div.header
                        span.status
                            if member.status === 1
                                | 公會長
                            else if member.status === 2
                                | 副會長
                            else if member.status === 3
                                | 會員
                            else if member.status === 4
                                | 離會會員
                    div.content-1
                        div.avatar-picture
                            img.avatar.uk-border-rounded(
                                ondragstart='return false;',
                                src= member.avatarURL, onerror='this.src="/assets/images/default-avatar.png"'
                            )
                        if member.mytalks
                            div.talks
                                div.text
                                    | #{member.mytalks}
                                div.arrow
                        if member.groups.length
                            div.groups
                                each group in member.groups
                                    img.group-icon.uk-border-pill(
                                        width='25', height='25', ondragstart='return false;',
                                        uk-tooltip= `title: ${group[0]} - ${group[1]} 團; pos: right`,
                                        src= `/assets/bosses/${group[0]}.png`
                                    )
                    div.content-2
                        div.character-name
                            | #{member.charName}
                        div.character-joblevel
                            if member.job
                                span.character-job
                                    | #{member.job}
                                span.character-level
                                    | (Lv.#{member.level})
                            else
                                span.character-job
                                    | 未知
                    div.footer
                        img.uk-border-pill(
                            width='35', height='35', ondragstart='return false;',
                            src= member.pictureURL, onerror='this.src="/assets/images/default-picture.png"'
                        )
                        div.user-name
                            | #{member.displayName}
        div.footer
            | Managed and designed by 
            a.uk-link-text(href='http://salmon.tw', target='_blank', uk-tooltip='title: go to my site\: salmon.tw')
                | Salmon

    script.
        function filtering(e) {
            const value = String(e.value).toLowerCase();
            const cards = document.querySelectorAll('.profile-card');

            Array.prototype.forEach.call(cards, (card) => {
                const text1 = card.querySelector('.character-name').textContent.toLowerCase();
                const text2 = card.querySelector('.user-name').textContent.toLowerCase();
                const text3 = card.querySelector('.character-job').textContent.toLowerCase();

                (text1.includes(value) || text2.includes(value) || text3.includes(value))
                    ? card.classList.remove('hidden')
                    : card.classList.add('hidden');
            });
        }
