extends ../base.pug
block title
    | 新楓之谷 - 淫小築 - 成員列表

block style
    style(type='text/css').
        html, body {
            height: auto;
            overflow-y: scroll;
            background: rgba(0, 0, 0, 0) url('/assets/images/members-bg.png') repeat scroll 0% 0%;
        }

    style(type='text/css').
        img {
            -webkit-user-select: none;
             -khtml-user-select: none;
               -moz-user-select: none;
                 -o-user-select: none;
                    user-select: none;
        }
        .search-container {
            min-height: 50px;
            justify-items: center;
            align-items: center;
            padding: .5em;
        }
        .uk-subnav {
            -webkit-user-select: none;
             -khtml-user-select: none;
               -moz-user-select: none;
                 -o-user-select: none;
                    user-select: none;
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .profile-card {
            width: 100%;
            min-width: 250px;
            max-width: 300px;
            margin: 40px 10px;
            text-align: center;
            overflow: hidden;
            background: rgba(0, 0, 0, 0) url('/assets/images/card-bg.png') repeat scroll 0% 0%
        }
        .profile-card .header {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: .5em 1em;
        }
        .profile-card .header .status {
            margin-right: auto;
        }
        .profile-card .content-1 {
            position: relative;
            width: 100%;
            height: 150px;
        }
        .profile-card .content-1 .avatar-picture {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-size: cover;
            overflow: hidden;
        }
        .profile-card .content-1 .avatar-picture {
            background-image: url('/assets/class_bg/explorer.png');
        }
        .profile-card .content-1 .avatar-picture.爆拳槍神,
        .profile-card .content-1 .avatar-picture.煉獄巫師,
        .profile-card .content-1 .avatar-picture.狂豹獵人,
        .profile-card .content-1 .avatar-picture.機甲戰神,
        .profile-card .content-1 .avatar-picture.惡魔殺手,
        .profile-card .content-1 .avatar-picture.惡魔復仇者,
        .profile-card .content-1 .avatar-picture.傑諾 {
            background-image: url('/assets/class_bg/explorer.png');
        }
        .profile-card .content-1 .avatar-picture.狂狼勇士,
        .profile-card .content-1 .avatar-picture.龍魔導士,
        .profile-card .content-1 .avatar-picture.精靈遊俠,
        .profile-card .content-1 .avatar-picture.幻影俠盜,
        .profile-card .content-1 .avatar-picture.夜光,
        .profile-card .content-1 .avatar-picture.隱月 {
            background-image: url('/assets/class_bg/explorer.png');
        }
        .profile-card .content-1 .avatar-picture.米哈逸,
        .profile-card .content-1 .avatar-picture.聖魂劍士,
        .profile-card .content-1 .avatar-picture.烈焰巫師,
        .profile-card .content-1 .avatar-picture.破風使者,
        .profile-card .content-1 .avatar-picture.暗夜行者,
        .profile-card .content-1 .avatar-picture.閃雷悍將 {
            background-image: url('/assets/class_bg/explorer.png');
        }
        .profile-card .content-1 .avatar-picture.凱薩,
        .profile-card .content-1 .avatar-picture.天使破壞者,
        .profile-card .content-1 .avatar-picture.卡蒂娜 {
            background-image: url('/assets/class_bg/explorer.png');
        }
        .profile-card .content-1 .avatar-picture.伊利恩,
        .profile-card .content-1 .avatar-picture.亞克 {
            background-image: url('/assets/class_bg/explorer.png');
        }
        .profile-card .content-1 .avatar-picture.神之子 {
            background-image: url('/assets/class_bg/explorer.png');
        }
        .profile-card .content-1 .avatar-picture.凱內西斯 {
            background-image: url('/assets/class_bg/explorer.png');
        }
        .profile-card .content-1 .avatar-picture.劍豪,
        .profile-card .content-1 .avatar-picture.陰陽師 {
            background-image: url('/assets/class_bg/explorer.png');
        }
        .profile-card .content-1 .avatar-picture.幻獸師 {
            background-image: url('/assets/class_bg/explorer.png');
        }
        .profile-card .content-1 .avatar-picture img.avatar {
            width: 100px;
            height: 100px;
            margin-bottom: 5px;
            z-index: 1;
        }
        .profile-card .content-1 .avatar-picture img.follower {
            position: absolute;
            z-index: 0;
        }
        .profile-card .content-1 .avatar-picture img.follower.龍魔導士 {
            top: -35px;
            right: -20px;
        }
        .profile-card .content-1 .avatar-picture img.follower.狂豹獵人 {
            bottom: 15px;
            left: 55px;
        }
        .profile-card .content-1 .groups {
            position: absolute;
            width: 40px;
            height: 100%;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .75);
        }
        .profile-card .content-1 .groups img.group-icon {
            margin-top: 5px;
            border: 2px solid rgba(175, 175, 175, .75);
        }
        .content-2 {
            padding: .5em;
        }
        .content-2 .content-left {
            width: 30%;
            border-right: 1px solid #CCC;
            align-self: center;
            justify-self: center;
            padding-right: .5em;
        }
        .content-2 .content-right {
            width: 60%;
            align-self: center;
            justify-self: center;
            padding-left: .5em;
        }
        .character-name {
            font-size: 1.15em;
            letter-spacing: .1em;
        }
        .character-joblevel {
            font-size: .95em;
        }
        .character-level {
            font-size: .85em;
            margin-left: .25em;
        }
        .profile-card .footer {
            text-align: center;
            padding: 0 .5em .5em .5em;
        }
        .user-picture {
            border: 1px solid #FFF;
        }
        .user-name {
            font-size: 0.95em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .footer {
            text-align: center;
            padding: 2em 0 .5em 0;
        }
        .footer.default {
            color: #AAA;
            font-style: italic;
        }
        .totop {
            position: fixed;
            bottom: 2.5em;
            right: 2.0em;
        }
        .hidden {
            display: none;
        }

block content
    div.uk-container
        nav.search-container.uk-navbar-container(uk-sticky='bottom: #offset', uk-navbar)
            div.uk-search.uk-search-navbar.uk-width-1-1
                span(uk-search-icon)
                input#search.uk-search-input(type='search', placeholder='查 ID 或 LINE', autocomplete='off', oninput='filtering(this)')

        div(uk-filter='target: .js-filter')
            ul.uk-subnav.uk-subnav-pill.uk-margin-top
                li
                    a(href='/')
                        | 回首頁
                li
                    a(href='/members/teams')
                        | 前往王團列表
            ul.uk-flex-right.uk-subnav.uk-subnav-pill.uk-margin-top
                li(uk-filter-control='.status-3')
                    a(href='#')
                        | 會員
                li(uk-filter-control='.status-1, .status-2')
                    a(href='#')
                        | 管理群
                li.uk-active(uk-filter-control)
                    a(href='#')
                        | 全體

            div.cards.js-filter(uk-scrollspy='hidden: true; target: > .profile-card; cls: uk-animation-slide-bottom-medium; repeat: true; delay: 50')
                each member in members
                    div.profile-card(class=`status-${member.status}`)
                        div.header
                            span.status
                                if member.status === 1
                                    | 公會長
                                else if member.status === 2
                                    | 副會長
                                else if member.status === 3
                                    | 會員
                                else if member.status === 4
                                    | 離會會員
                        div.content-1
                            div.avatar-picture(class=`${member.job}`)
                                img.avatar.uk-border-rounded(
                                    ondragstart='return false;',
                                    src= member.avatarURL, onerror='this.src="/assets/images/default-avatar.png"'
                                )
                                img.follower(
                                    class=`${member.job}`
                                    ondragstart='return false;',
                                    src=`/assets/class_follower/${member.job}.png`, onerror='this.style.display="none"'
                                )
                            if member.groups.length
                                div.groups
                                    each group in member.groups
                                        img.group-icon.uk-border-pill(
                                            width='30', height='30', ondragstart='return false;',
                                            uk-tooltip= `title: ${group[0]} - ${group[1]} 團; pos: right`,
                                            src= `/assets/bosses/${group[0]}.png`
                                        )
                        div.content-2
                            div.uk-grid-collapse.uk-text-center(uk-grid)
                                div.content-left
                                    img.uk-border-pill(
                                        width='35', height='35', ondragstart='return false;',
                                        src= member.pictureURL, onerror='this.src="/assets/images/default-picture.png"'
                                    )
                                    div.user-name
                                        | #{member.displayName}
                                div.content-right
                                    div.character-name
                                        | #{member.charName}
                                    div.character-joblevel
                                        if member.job
                                            span.character-job
                                                | #{member.job}
                                            span.character-level
                                                | (Lv.#{member.level})
                                        else
                                            span.character-job
                                                | 未知
                        if member.moodPhrase
                            div.footer
                                | #{member.moodPhrase}
                        else
                            div.footer.default
                                | 未寫下心情小語

        div.footer
            | Managed and designed by 
            a.uk-link-text(href='http://salmon.tw', target='_blank', uk-tooltip='title: go to my site\: salmon.tw')
                | Salmon

        div.totop
            a(href='#', uk-totop, uk-scroll)

    script.
        function filtering(e) {
            const value = String(e.value).toLowerCase();
            const cards = document.querySelectorAll('.profile-card');

            Array.prototype.forEach.call(cards, (card) => {
                const text1 = card.querySelector('.character-name').textContent.toLowerCase();
                const text2 = card.querySelector('.user-name').textContent.toLowerCase();
                const text3 = card.querySelector('.character-job').textContent.toLowerCase();

                (text1.includes(value) || text2.includes(value) || text3.includes(value))
                    ? card.classList.remove('hidden')
                    : card.classList.add('hidden');
            });
        }
